.card{  
    position: relative;
    height: 50rem;
    perspective: 1500rem;
    -moz-perspective: 1500rem;
    

    &__side{
        height: 50rem;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        backface-visibility: hidden;
        transition: all 0.8s ease;
        border-radius: .3rem;
        box-shadow: 0 1rem 4rem rgba($color-black , 0.4);
        overflow: hidden;

        &--front{
            background-color: $color-white;
        }

        &--back{
            &-1{
                background-image: linear-gradient(
                    to right bottom  ,
                    $color-blue-light,
                    $color-blue-dark 
                    ); 
            }

            &-2{
                background-image: linear-gradient(
                    to right bottom  ,
                    $color-primary-light,
                    $color-primary-dark 
                    );
            }

            &-3{
                background-image: linear-gradient(
                    to right bottom  ,
                    $color-blue-grey-light,
                    $color-blue-grey-dark 
                    ); 
            }
            transform: rotateY(-180deg)
        }
    }
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0deg);
    }

    &__image{
        height:23rem;
        background-size: cover;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0 ,  100% 0,100% 85%,0 100% );
        clip-path: polygon(0 0 ,  100% 0,100% 85%,0 100% );
        &--1{
            background-image: linear-gradient(
                to right bottom  ,
                $color-blue-light,
                $color-blue-dark 
                ), 
                url('../img/nat-5.jpg');
        }
        &--2{
            background-image: linear-gradient(
                to right bottom  ,
                $color-primary-light,
                $color-primary-dark 
                ), 
                url('../img/nat-6.jpg');
        }
        &--3{
            background-image: linear-gradient(
                to right bottom  ,
                $color-blue-grey-light,
                $color-blue-grey-dark 
                ), 
                url('../img/nat-7.jpg');
        }
    }

}