.card{  
    position: relative;
    height: 50rem;
    perspective: 1500rem;
    -moz-perspective: 1500rem;
    

    &__side{
        height: 50rem;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        backface-visibility: hidden;
        transition: all 0.8s ease;
        border-radius: .3rem;
        box-shadow: 0 1rem 4rem rgba($color-black , 0.4);
        overflow: hidden;

        &--front{
            background-color: $color-white;
        }

        &--back{
            &-1{
                background-image: linear-gradient(
                    to right bottom  ,
                    $color-blue-light,
                    $color-blue-dark 
                    ); 
            }

            &-2{
                background-image: linear-gradient(
                    to right bottom  ,
                    $color-primary-light,
                    $color-primary-dark 
                    );
            }

            &-3{
                background-image: linear-gradient(
                    to right bottom  ,
                    $color-blue-grey-light,
                    $color-blue-grey-dark 
                    ); 
            }
            transform: rotateY(-180deg)
        }
    }
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0deg);
    }

    &__image{
        height:23rem;
        background-size: cover;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0 ,  100% 0,100% 85%,0 100% );
        clip-path: polygon(0 0 ,  100% 0,100% 85%,0 100% );
        position: relative;
        &--1{
            background-image: linear-gradient(
                to right bottom  ,
                $color-blue-light,
                $color-blue-dark 
                ), 
                url('../img/nat-5.jpg');
        }
        &--2{
            background-image: linear-gradient(
                to right bottom  ,
                $color-primary-light,
                $color-primary-dark 
                ), 
                url('../img/nat-6.jpg');
        }
        &--3{
            background-image: linear-gradient(
                to right bottom  ,
                $color-blue-grey-light,
                $color-blue-grey-dark 
                ), 
                url('../img/nat-7.jpg');
        }
    }

    &__heading{
        font-size: 2.8rem;
        color:$color-white;
        font-weight: 300;
        text-transform: uppercase;
        position: absolute;
        top: 14rem;
        right:2rem;
        width: 75%;
        text-align: right;
    }

    &__heading__span{
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &--1{
            background-image: linear-gradient(
                to right bottom  ,
                rgba($color-blue-light,0.9),
                rgba($color-blue-dark ,0.9)
                );
        }
        &--2{
            background-image:linear-gradient(
                to right bottom  ,
                rgba($color-primary-light,0.9),
                rgba($color-primary-dark,0.9)
                );
        }
        &--3{
            background-image:linear-gradient(
                to right bottom  ,
                rgba($color-blue-grey-light,0.9),
                rgba($color-blue-grey-dark,0.9) 
                );
        }
    }

    &__details{        
        padding: 3rem;
        ul{
            list-style: none;
            margin: 0 auto;
            width: 80%;
            

            li{
                
                text-align: center;
                font-size: $text-size-primary;
                padding: 1rem;

                &:not(:last-child){
                    border-bottom: .3rem solid $color-grey-light-2;
                }
            }
        }
    }

}