.feature-box{
    font-size: 1.5rem;
    background-color: rgba($color-white,0.8);
    border-radius: $border-radius-primary;
    text-align: center;
    padding: 2.5rem;    
    transition: all 0.2s;

    @include MediaQuieryManger (tab-port){
        background-color: rgba($color-white,0.81);
        padding: 1.5rem;
    }

    &__icon{
        font-size: 6rem;
        margin: 2rem 0;
        display: inline-block;
        background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
        -webkit-background-clip: text;
        color:transparent;

        @include MediaQuieryManger (tab-port){
            margin: 0;
        }
    }

    & >.heading-tertiary{
        border-bottom: .1rem solid transparent;
    }

    &:hover{
        transform: scale(1.05) translateY(-2rem);
        background-color: rgba($color-white,0.99);
        box-shadow: 0 3rem 5rem rgba($color-black,0.4);

        & .heading-tertiary{
            border-color: $color-primary;
            display: table;
            margin-right: auto;
            margin-left: auto;
        }
    }

}